#blackout {
    position: fixed;
    inset: 0;
    background: #000;
    z-index: 9999999;
    opacity: 1;
    pointer-events: none;
    transition: none;
    /* off by default */

    /* element always remains "displayed" so transitions can work */
}

/* enable transitions ONLY when .ready is added */
#blackout.ready {
    transition: opacity 1000ms ease;
}

/* hidden state - this triggers fade-out */
#blackout.hidden {
    opacity: 0;
}